@mixin hook-accordion-content(){
    padding-bottom: $global-margin;
}

@mixin hook-article(){
    + .uk-article {
        border-top: 1px solid $global-border;
        padding-top: 50px;
    }
}

@mixin hook-article-misc(){
    .uk-article-title.uk-margin-large-bottom + .uk-text-lead {
        margin-top: -$global-large-margin * .5;
    }

    @media (min-width: $breakpoint-large){
        .uk-article-title.uk-margin-large-bottom + .uk-text-lead {
            margin-top: -$global-large-margin * .75;
        }
    }    
    
    .article-content {
        line-height: 1.6;
        font-size: 1.0625rem;

        * + h1, * + .uk-h1, * + h2, * + .uk-h2, * + h3, * + .uk-h3, * + h4, * + .uk-h4, * + h5, * + .uk-h5, * + h6, * + .uk-h6 {
            margin-top: $global-medium-margin * 1.35;
        }
        
        h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
            margin-bottom: $global-medium-margin * .6;
        }

        p, ul, ol, dl, pre, address, fieldset, figure, blockquote {
            margin-bottom: $global-medium-margin * .9;
        }

        img {
            margin-bottom: $global-medium-margin * .4;
        }
    }
}

@mixin hook-base-h4(){
    font-weight: 400;
}

@mixin hook-base-h5(){
    font-weight: 400;
}

@mixin hook-base-h6(){
    font-weight: 400;
}

@mixin hook-button-misc(){
    .uk-button {
        font-weight: bolder;
        letter-spacing: 1px;
        border-radius: 5px;
    }

    .uk-button-default,
    .uk-button-primary,
    .uk-button-secondary,
    .uk-button-danger {
        letter-spacing: 1px;
    }

    a.button-link:not(.uk-link-muted):not(.uk-accordion-title), .button-link a:not(.uk-link-muted):not(.uk-accordion-title) {
        font-weight: 400;
        border-bottom: 1px solid $global-primary-background;
    }

    // Warning
    .uk-button-warning {
        background-color: $button-warning-background;
        color: $button-primary-color;
        border: 1px solid transparent;
    }

    .uk-button-warning:hover,
    .uk-button-warning:focus {
        background-color: $button-warning-hover-background;
        color: $button-primary-color;
    }

    .uk-button-warning:active,
    .uk-button-warning.uk-active {
        background-color: $button-warning-hover-background;
        color: $button-primary-color;
    }

    // Success
    .uk-button-success {
        background-color: $button-success-background;
        color: $button-primary-color;
        border: 1px solid transparent;
    }

    .uk-button-success:hover,
    .uk-button-success:focus {
        background-color: $button-success-hover-background;
        color: $button-primary-hover-color;
    }

    .uk-button-success:active,
    .uk-button-success.uk-active {
        background-color: $button-success-hover-background;
        color: $button-primary-active-color;
    }

    // Primary outline
    .uk-button-primary-outline {
        background-color: $button-default-background;
        color: $button-primary-background;
        border: $button-border-width solid $button-primary-background;
    }

    .uk-button-primary-outline:hover,
    .uk-button-primary-outline:focus {
        background-color: $button-primary-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-primary-background;
    }

    .uk-button-primary-outline:active,
    .uk-button-primary-outline.uk-active {
        background-color: $button-primary-background;
        color: $button-primary-active-color;
        border: $button-border-width solid $button-primary-background;
    }

    // Danger outline
    .uk-button-danger-outline {
        background-color: $button-default-background;
        color: $button-danger-background;
        border: $button-border-width solid $button-danger-background;
    }

    .uk-button-danger-outline:hover,
    .uk-button-danger-outline:focus {
        background-color: $button-danger-background;
        color: $button-danger-hover-color;
        border: $button-border-width solid $button-danger-background;
    }

    .uk-button-danger-outline:active,
    .uk-button-danger-outline.uk-active {
        background-color: $button-danger-background;
        color: $button-danger-active-color;
        border: $button-border-width solid $button-danger-background;
    }

    // Success outline
    .uk-button-success-outline {
        background-color: $button-default-background;
        color: $button-success-background;
        border: $button-border-width solid $button-success-background;
    }

    .uk-button-success-outline:hover,
    .uk-button-success-outline:focus {
        background-color: $button-success-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-success-background;
    }

    .uk-button-success-outline:active,
    .uk-button-success-outline.uk-active {
        background-color: $button-success-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-success-background;
    }

    // Warning outline
    .uk-button-warning-outline {
        background-color: $button-default-background;
        color: $button-warning-background;
        border: $button-border-width solid $button-warning-background;
    }

    .uk-button-warning-outline:hover,
    .uk-button-warning-outline:focus {
        background-color: $button-warning-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-warning-background;
    }

    .uk-button-warning-outline:active,
    .uk-button-warning-outline.uk-active {
        background-color: $button-warning-background;
        color: $button-primary-active-color;
        border: $button-border-width solid $button-warning-background;
    }
    
}

@mixin hook-card-default(){
    border: 1px solid $global-border;
}

@mixin hook-card-misc(){
    .uk-card-default .uk-card-footer {
        padding-top: 0;
        margin-top: -10px;
        border: none;
    }
    .card-box {
        text-decoration: none;
        padding-top: $global-large-margin;
        padding-bottom: $global-large-margin;
        color: $global-primary-background;
        &:hover {
            text-decoration: none;
            background: #fff;
        }
        p{
            font-size: 1.125rem;
            color: $global-color;
        }
        &:hover span {
          color: $global-primary-background;
        }
        &:hover p {
          color: $base-heading-color;
        }

    }
}

@mixin hook-dropdown-nav-item(){
    font-weight: 400;
}

@mixin hook-link-misc(){
    a.link-reset,
    .link-reset a {
        color: inherit;
        text-decoration: none;
    }
    a.link-reset:hover,
    .link-reset a:hover {
        color: $base-link-hover-color;
        text-decoration: none;
    }
}

@mixin hook-logo(){
    letter-spacing: 1px;
    font-weight: 400;
}

@mixin hook-nav-default-item(){
    font-weight: 400;
}

@mixin hook-nav-header(){
    font-weight: 400;
}

@mixin hook-nav-misc(){
    .uk-navbar-nav {
        font-weight: 800;
    }

    .uk-nav-default > li > a:focus {
        color: $base-heading-color;
    }

    // Uikit navbar fix
    nav>.uk-container .uk-navbar-left {
        margin-left: -$navbar-nav-item-padding-horizontal;
    }

    nav>.uk-container .uk-navbar-right {
        margin-right: -$navbar-nav-item-padding-horizontal;
    }

}

@mixin hook-padding-misc(){

    .text-400 {
        font-weight: 400;
    }

    @media (min-width: $breakpoint-medium){
        .padding-right\@m {
            padding-right: $global-medium-margin;
        }
    }

    @media (min-width: $breakpoint-large){
        .padding-large-right\@l {
            padding-right: $global-large-margin;
        }
    }    
}

@mixin hook-search-default-input-focus(){
    border-color: $form-focus-border;
}

@mixin hook-switcher-misc(){
    .uk-switcher {
        font-size: 1.0625rem;
        .uk-list {
            margin-top: 30px;
        }
    }
}

@mixin hook-utility-misc(){

    .border-bottom {
        border-bottom: 1px solid $global-border; 
    }

    .border-frame {
        border: 1px solid $global-border;
        padding: $global-medium-margin $global-medium-margin $global-medium-margin / 2;
    }

    .margin-xsmall-bottom {
        margin-bottom: 5px;
    }

    .divider-left::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: $grid-divider-border-width solid $grid-divider-border;
        left: (-$grid-large-gutter-horizontal);
    }
    
    .divider-right::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        border-right: $grid-divider-border-width solid $grid-divider-border;
        right: ($grid-large-gutter-horizontal);
    }

    table {
        width: 100%;        
    }

    table, th , td{
        border: 1px solid $global-border ;
        border-collapse: collapse;        
        text-align: center;
    }

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        .divider-left::before {
            left: (-$grid-large-gutter-horizontal-l);
        }
    
    }

    // Search
    #search-results {
        margin: 10px 0 0 0;
        background: #fff;
        z-index: 1000;

        li {
            margin: 0;
            line-height: 1.4;
            border-left: 1px solid $global-border; 
            border-right: 1px solid $global-border; 

            &:first-child {
                padding-top: 5px;
                border-top: 1px solid $global-border;
            }
            &:last-child {
                padding-bottom: 5px;
                border-bottom: 1px solid $global-border;
            }
            
            a {
                padding: 18px 36px;
            }
            &.no-results {
                padding: 18px 36px;
            }

            a {
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    // Category sidebar icon
    .icon-category {
        margin-top: 4px;
    }

    // Changelog
    @media (min-width: $breakpoint-medium) {


        .timeline {
            box-sizing: border-box;
            * {
                box-sizing: border-box;
            }
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(25% - 2px);
                bottom: 0;
                width: $timeline-border-width;
                background: $global-primary-background;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .timeline-entry {
            clear: both;
            text-align: left;
            position: relative;

            &:after {
                display: block;
                content: "";
                clear: both;
            }

            .timeline-time {
                padding-top: 1px;
                float: left;
                width: 25%;
                padding-right: $global-large-margin;
                text-align: right;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: $timeline-dot-diameter;
                    height: $timeline-dot-diameter;
                    border: $timeline-border-width solid $global-primary-background;
                    background-color: #fff;
                    border-radius: 100%;
                    top: 0;
                    right: - 10px;
                    z-index: 99;
                }

                h4 {
                    font-weight: 400;
                }
            }

            .timeline-body {
                float: right;
                width: 75%;
                padding-left: $global-large-margin;
                margin-top: -5px;
            }
        }

    }
    
}

