<hr class="uk-margin-remove-bottom uk-margin-large-top">
<h4 class="uk-margin-remove-bottom uk-margin-large-top">{{ site.data.translation[site.lang].related_articles | default: "Related Articles" }}</h4>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

<ul class="uk-list uk-list-large uk-grid-large uk-child-width-1-2@m uk-margin-large-bottom" data-uk-grid>
{% for article in site.articles %}

{% assign sameTagCount = 0 %}
{% assign commonTags = '' %}

{% for tag in article.tags %}
    {% if article.url != page.url %}
        {% if page.tags contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if sameTagCount >= minCommonTags %}
    <li class="uk-margin-top"><a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a></li>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
{% endif %}

{% endfor %}
</ul>
