---
layout: default
---

<div class="uk-container">
    <div class="uk-section uk-section-xsmall border-bottom">
        <div data-uk-grid>
            <div class="uk-width-2-3@m uk-flex uk-flex-middle">
                <ul class="uk-breadcrumb">
                    {% assign article_category = '' %}
                    {% for category in site.data.articles %}
                        {% for article in category.articles %}
                            {% if page.slug == article %}
                                {% assign article_category = category %}
                                {% assign article_category_first_slug = category.articles | first %}
                                {% assign article_category_first = site.articles | where:"slug", article_category_first_slug | first %}                    
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <li><a href="{{ "/" | relative_url }}">Home</a></li>
                    <li><a href="{{ article_category_first.url }}">{{ article_category.title }}</a></li>
                    <li><span>{{ page.title | escape }}</span></li>
                </ul>
            </div>
            <div class="uk-width-1-3@m">
                {% if site.article.search %}
                    {% include search.html %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>

            <div class="uk-width-auto@m">
                <div class="boundary-align">
                    <div class="uk-visible@m uk-text-primary icon-category"></div>
                                  

                    <div class="uk-hidden@m">
                        <button class="uk-button uk-button-large uk-button-default uk-width-1-1" type="button">{{ site.data.translation[site.lang].article_categories | default: "Categories" }}</button>
                        <div data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                            <ul class="uk-nav uk-dropdown-nav">
                                {% for category in site.data.articles %}
                                    {% assign article_first_slug = category.articles | first %}
                                    {% assign article_first = site.articles | where:"slug", article_first_slug | first %}                    
                                    <li>
                                        <a href="{{ article_first.url }}">{{ category.title }}</a>
                                        <ul class="uk-nav-sub">
                                            {% for article in category.articles %}
                                                {% assign p = site.articles | where:"slug", article | first %}
                                                <li{% if article == page.slug %} class="uk-active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>    
            
            <div class="uk-width-1-4@m uk-visible@m">
                <div data-uk-sticky="offset: 100; media: @m; bottom: true">
                    <div class="uk-position-relative">
                        <div class="divider-right">
                            <ul class="uk-nav uk-nav-default" data-uk-nav{% if site.article.nav_multiple %}="multiple: true"{% endif %}>
                                <li class="uk-nav-header">{{ site.data.translation[site.lang].article_categories | default: "Categories" }}</li>
                                {% for category in site.data.articles %}
                                    {% assign current_cat = '' %}
                                    {% for item in category.articles %}
                                        {%if item == page.slug %}
                                            {% assign current_cat = ' uk-open' %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if category.title == 'Developers Support'%}
                                    <li class="uk-parent{{ current_cat }}">
                                        <a href="#">{{ category.title }}</a>
                                        <ul class="uk-nav-sub">
                                            {% for article in category.articles %}
                                                {% assign p = site.articles | where:"slug", article | first %}
                                                <li{% if article == page.slug %} class="uk-active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
                                                {% if category.title == 'Developers Support'%}
                                                <ul>
                                                    {% for item in site.data.samplelist.docs %}
                                                       <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                                    {% endfor %}
                                                 </ul>
                                                {% endif %}

                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-expand@m padding-right@m padding-large-right@l">

                <article class="uk-article">

                    <h2 class="uk-article-title uk-margin-large-bottom uk-text-uppercase"><strong>{{ page.title | escape }}</strong></h2>

                    {% if page.subtitle %}
                        <p class="uk-text-lead uk-margin-large-bottom">{{ page.subtitle }}</p>
                    {% endif %}

                    <div class="article-content button-link">
                        {{content}}
                        {% if site.share.article %}
                            {% include share.html %}
                        {% endif %}
                        </div>

                </article>

                <!--{% include hook-post-content-article.html %}
                
                {% include related-articles.html %}-->

            </div>
            
            
        </div>
    </div>
</div>

<!--{% if site.article.cta %}
<section class="uk-container">
    <hr class="uk-margin-remove">
    <div class="uk-grid-large uk-flex-middle uk-margin-large-top uk-margin-large-bottom" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
        <div class="uk-width-auto@m">
            <h3 class="uk-text-center uk-text-left@m">{{ site.article.cta.text }}</h3>
        </div>
        <div class="uk-width-expand@m">
            <a class="uk-button uk-button-primary uk-button-large uk-align-right@m" href="{{ site.article.cta.button_url }}">{{ site.article.cta.button_text }}</a>
        </div>
    </div>
</section>
{% endif %}-->

{% include cta.html 
    icon="help" title="Need more help?" text="Get in touch with us, support is provided daily" link_text="contact us" link_url="/contact/" 
    icon2="partner" title2="Interested in our products?" text2="Our sales representatives can help you chose" link_text2="call us" link_url2="/contact/" 
%}
