<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% include navbar.html %}

    {{ content }}

    {% include offcanvas.html %}

    {% include footer.html %}

    {% if page.layout == 'article' %}
        {% include hook-pre-closing-body-article.html %}
    {% endif %}

    {% include hook-pre-closing-body.html %}

    {% if page.search or page.layout == 'article' and site.article.search %}
        {% include search-js.html %}
    {% endif %}

    </body>

</html>
